@model Eccomerce.Areas.Admin.Models.Size

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<partial name="Create"/>
<p>
    <a asp-action="Index" asp-route-id="">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Size item in ViewBag.ListSize) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Index" asp-route-id="@item.Id">Edit</a>          
            </td>
        </tr>
}
    </tbody>
</table>
